body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffff4d;
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    padding: 8px;
    width: 70%;
    margin-right: 10px;
  }
  
  button {
    padding: 8px 15px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .delete-button,.edit-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  